.input {
    height: 28px;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #ced4da;

    &:focus {
        outline: 0;
        border-color: #80bdff;
    }
}
