.news-info-modal {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__date {
        color: rgba(0, 0, 0, 0.5);
        margin: 10px 0;
        text-align: right;
    }

    &__read-button {
        align-self: flex-end;
    }
}
