.news-creation-modal {
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 30px;
        font-weight: bold;
    }

    &__save-button {
        align-self: flex-end;
    }
}